<div class="history">
  <section id="cd-timeline" class="cd-container">

    {% include video.html
      title="Black Magic"
      url="https://player.vimeo.com/video/154069606?color=dedede&title=0&portrait=0"
      date="February 2016"
    %}

    {% include video.html
      title="Withings"
      url="https://www.youtube.com/embed/n44NQLqPLgA"
      date="January 2016"
    %}

    {% include soundcloud.html
      title="Black Magic"
      id="233368016"
      date="November 2015"
    %}

    {% include video.html
      title="Light"
      url="https://player.vimeo.com/video/154069606?color=dedede&title=0&portrait=0"
      date="June 2015"
    %}

    {% include soundcloud.html
      title="Nocturne Waltz"
      id="88288126"
      date="2013"
    %}

  </section>
</div>
