<div class="content">
  {% include player.html %}

  <div class="gallery">
    {% include project.html
      type="video"
      title="Black Magic"
      thumbnail="/assets/img/header.jpg"
      url="https://player.vimeo.com/video/154069606?color=dedede&title=0&portrait=0"
      date="February 2016"
      context="Short film, Web"
    %}

    {% include project.html
      type="soundcloud"
      title="Withings - music only"
      thumbnail="/assets/img/header.jpg"
      id="262617371"
      date="January 2016"
      context="Soundtrack, Piano"
    %}

    {% include project.html
      type="video"
      title="Withings"
      thumbnail="/assets/img/header.jpg"
      url="https://www.youtube.com/embed/n44NQLqPLgA"
      date="January 2016"
      context="Commercial, TV"
    %}

    {% include project.html
      type="soundcloud"
      title="City of Lights"
      thumbnail="/assets/img/header.jpg"
      id="233368016"
      date="November 2015"
      context="Soundtrack, Piano"
    %}

    {% include project.html
      type="video"
      title="Light"
      thumbnail="/assets/img/header.jpg"
      url="https://player.vimeo.com/video/136911537?color=dedede&title=0&portrait=0"
      date="June 2015"
      context="Short Film, Web"
    %}

    {% include project.html
      type="soundcloud"
      title="Nocturne Waltz"
      thumbnail="/assets/img/header.jpg"
      id="88288126"
      date="2015"
      context="Soundtrack"
    %}
  </div>
</div>
