{% include player.html %}

<div class="content">
  {% include contact.html %}
  <div class="gallery">

    {% for project in site.data.projects %}
      {% include project.html %}
    {% endfor %}
  </div>

  <div class="widgets">
    <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:1vzWvRatFS1riGD75SFVNX&size=small&theme=dark" width="135" height="56" scrolling="no" style="border:none; overflow:hidden;" frameborder="0" allowtransparency="true"></iframe>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fvelvetcoffeemusic%2F&width=88&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21" width="88" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  <!-- <div class="forum">
    {% include disqus.html %}
  </div> -->
</div>

