<!-- thanks https://codepen.io/Vestride/pen/izIoh -->
<div class='loaderContainer'>
  <div class='loading-anim'>
    <div class='border out'></div>
    <div class='border in'></div>
    <div class='border mid'></div>
    <div class='circle'>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
      <span class='dot'></span>
    </div>
  </div>
</div>
