<div class="project"
     onclick="showPlayer({
       type: '{{ include.type }}',
       title: '{{ include.title }}',
       url: '{{ include.url }}',
       id: '{{ include.id }}',
       details: '{{ include.details }}',
       context: '{{ include.context }}',
       date: '{{ include.date }}',
       who: '{{ include.who }}',
       wholink: '{{ include.wholink }}',
       backlink: '{{ include.backlink }}'
     })"
>
  <div class="thumbnail">
    <img src="{{ include.thumbnail }}"/>
  </div>
  <p class="title">{{ include.title }}</p>
  <p class="context">{{ include.context }}</p>
</div>
