<div class="project"
     onclick="showPlayer({
       type: '{{ project.type }}',
       title: '{{ project.title }}',
       url: '{{ project.url }}',
       id: '{{ project.id }}',
       details: '{{ project.details }}',
       context: '{{ project.context }}',
       date: '{{ project.date }}',
       who: '{{ project.who }}',
       wholink: '{{ project.wholink }}',
       backlink: '{{ project.backlink }}'
     })"
>
  <div class="thumbnail">
    <img class="thumbImg" src="{{ project.thumbnail }}"/>
    {% if project.type == 'soundcloud' %}
      <img class="logoSoundcloud" src="/assets/img/logo.soundcloud.png"/>
    {% endif %}
    {% if project.type == 'video' %}
      <img class="logoMovie" src="/assets/img/movie.png"/>
    {% endif %}
  </div>
  <p class="title">{{ project.title }}</p>
  <p class="context">{{ project.context }}</p>
</div>
