
<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture"></div>
  <div class="cd-timeline-content">
    <h2 class="story-heading">{{ include.name }}</h2>

    <iframe width="100%"
            height="300"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{include.id}}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
    </iframe>

    <span class="cd-date">{{ include.date }}</span>
  </div>
</div>
