body {
    background: #000;
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 100%;
    line-height: 1.3em;
    width: 100%;
    text-align: center;
    margin: 0;
}

#header {
    font-size: 13px;
    margin: 0 auto 0 auto;
    min-height: 2em;
    padding: 20px 0px 0px 0px;
    position: relative;
    width: 940px;
}

.header_img {
    float: left;
    margin: 0 0 0px 0;
}

.nav_container.horizontal {
    float: right;
    margin: 0 0 40px 0;
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
    z-index: 2;
}

.nav_container.horizontal div {
    display: inline;
    margin: 0 0 0 20px;
}

.nav_container a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 10px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #aaa;
}

.link {
    font-size: 20px;
    color: #aaa;
}

.project {
    float: left;
    margin: 5px 0px;
    position: relative;
    text-align: left;
    color: #aaa;
}

.project img {
    border: 0px;
    background: transparent;
    padding: 0px;
    width:215px;
    height:100px;
}

.project img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.thumbnail {
    background: #111111;
    border: 2px solid #0f0f0f;
    margin: -2px -2px 5px -2px;
    position: relative;
    min-width: 215px;
    min-height: 100px;
}

.title {
    margin: 0;
    color: #888888;
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.context {
    margin: 2px 0;
    color: #555555;
    font-size: 11px;
    line-height: 1.1em;
    text-align: left;
}

.content {
    display: inline-block;
    background: #0f0f0f;
    clear: both;
    margin: 0px auto 0 auto;
    padding: 30px 40px 2px 40px;
    position: relative;
    width: 860px;
    z-index: 10;
    text-align: center;
}

.contact {
    float: left;
    text-align: left;
    line-height: 128px;
    font-size: 16px;
}

/* --------------------------    PLAYER POPIN  ---------------------------- */

.player {
    animation-name: fadeOut;
    animation-duration: 0.7s;
    opacity: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    text-align: center;
    padding: 200px 0;
}

.player.open {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    opacity: 1;
    z-index: 111;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.media {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    background: #0f0f0f none repeat scroll 0% 0%;
    border: solid 3px #0f0f0f;
    box-sizing: border-box;
}

.mediaTitle {
    margin: 0;
    color: #d0d0d0;
    font-size: 31px;
    font-weight: bold;
    line-height: 61px;
    overflow: hidden;
}

.details {
    background: #0f0f0f none repeat scroll 0% 0%;
    width: 80%;
    display: inline-block;
    font-size: 20px;
    text-align: left;
    padding: 10px 39px;
    box-sizing: border-box;
}

.close {
    background: url('/assets/img/close.png');
    width: 32px;
    height: 32px;
    background-size: 100%;
    top: 214px;
    right: 12%;
    position: fixed;
}

.close:hover {
    opacity: 0.9;
    cursor: pointer;
}
