body {
    background: url("/assets/img/wall.png");
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Open Sans' sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
header {
    background: url(../img/header.jpg) center center;
    background-size: cover;
}
@media only screen and (min-width: 220px) {
    header {
        height: 300px;
    }
}
@media only screen and (min-width: 650px) {
    header {
        height: 390px;
    }
}
@media only screen and (min-width: 1070px) {
    header {
        height: 450px;
    }
}
header nav {
    float: right;
    margin: 30px 30px 30px;
}
header nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
}
@media only screen and (min-width: 220px) {
    header nav a {
        display: none;
    }
}
@media only screen and (min-width: 650px) {
    header nav a {
        display: inline-block;
    }
}
header nav a:hover {
    color: black;
}
header h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.05cm;
    margin-bottom: 20px;
    clear: both;
}
@media only screen and (min-width: 220px) {
    header h1 {
        padding-top: 20px;
        font-size: 32px;
        font-weight: 350;
    }
}
@media only screen and (min-width: 650px) {
    header h1 {
        padding-top: 10px;
        font-size: 30px;
        font-weight: 350;
    }
}
@media only screen and (min-width: 1070px) {
    header h1 {
        padding-top: 50px;
        font-size: 72px;
        font-weight: 700;
    }
}
header h1 span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: rgba(0, 0, 0, 0.5) solid 10px;
}
@media only screen and (min-width: 220px) {
    header h1 span {
        padding: 0.2em 0.5em;
    }
}
@media only screen and (min-width: 650px) {
    header h1 span {
        padding: 0.1em 0.2em;
    }
}
@media only screen and (min-width: 1070px) {
    header h1 span {
        padding: 0.2em 0.5em;
    }
}

footer {
    background: url(../img/galway3.jpg) center center;
    background-size: cover;
}
footer .lockup {
    padding: 50px 30px;
}
footer .lockup::after {
    clear: both;
    content: "";
    display: table;
}
footer .lockup .content-wrap {
    float: left;
}
footer .lockup .content-wrap .copyright {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}
footer .lockup a {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    margin-right: 30px;
}
footer .lockup a:hover {
    color: black;
}
.kicker {
    color: white;
    font-size: 30px;
}

.gallery {
    text-align: center;
}

.media {
    width: 350px;
    height: 420px;
    border: 3px solid #f0f0f0;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}
